.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  padding-right: 40px;
  background-color: #fafafa;
}

.text {
  display: flex;
  font-weight: 500;
  padding-bottom: 25px;
  color: #7d7d7d;
}

.title {
  font-weight: 500;
  color: #7d7d7d;
  padding-left: 25px;

  align-self: center;
}

.dash-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.dashboard-container:last-child {
  height: 100%;
}

.dash-wrapper:last-child {
  padding-bottom: 0px;
}

.lastclient-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.button {
  background-color: #fafafa;
  color: #7d7d7d;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #d9d9d9;
  border-radius: 50px 50px 50px 50px;
  font-weight: 300;
  align-self: center;
}
