table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  margin-left: 0;
  border-bottom: 2px solid #e7e7e7;
  height: 50px;
  color: #7d7d7d;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}

tbody {
  font-size: 90%;
}

.round-image {
  border-radius: 100%;
  background-size: auto 40px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.title {
  padding-left: 15px;
}

.main-title {
  padding-top: 25px;
  padding-left: 25px;
  color: #7d7d7d;
  padding-bottom: 25px;
  border-bottom: 2px solid #e7e7e7;
  font-weight: 600;
}
