$colors: (
  tuna: #3d3f47,
  white: #fff,
  appBackgroundColor: #f8f9fa,
  primaryTextColor: #3d3f47,
  headerColor: white,
  pelorous: #3da4bc,
  iron: #cfd1d5,
  iron1: #eaeaeb,
  abbey: #464850,
  red: #eb0010,
  porcelain: #eff0f1,
  mischka: #d4d6dd,
  alto: #dcdcdc,
  athensGray1: #edeef1,
  athensGray2: #ebecee,
  athensGray3: #f2f3f6,
  athensGray4: #f7f7f8,
  midGray1: #6a6b71,
  bombay: #b2b3b6,
  bombay2: #b1b2b5,
  santasGray: #9e9fa3,
  wispPink: #fef2f3,
  selago: #f4f7fe,
  outerSpace: #2b2f30,
  geyser: #c9d2dc,
  charcoal: #4a4a4a,
  grey: #ededed,
  grey1: #cfcfcf,
  grey2: #e8e8e8,
  grey3: #808080,
  black: #000000,
  nobel: #9b9b9b,
  carnation: #fc5a66,
  viking: #50dec6,
  silver: #c9c9c9,
  halfBaked: #83cacf,
  oxfordBlue: #394458,
  froly: #f2806f,
  blueStone: #00556c,
  blueChill: #127d96,
  java: #1aacc9,
  pictonBlue: #47c7e4,
  anakiwa: #b0f0ff,
  gallery: #ededed,
  veniceBlue: #086f8b,
  easternBlue: #0f99bb,
  iceCold: #b8f5e8,
  offGreen: #e9f9f4,
  mintTulip: #cdf4ed,
  mintTulip2: #b1f0e5,
  riptide: #8ae8da,
  fountainBlue: #5dc1c9,
  jellyBean: #2a798c,
  elm: #206473,
  elephant: #134551,
  cadetblue: cadetblue,
  doveGray: #636363,
  pelorous2: #3fa6bd,
  gallery2: #eaeaea,
  elm2: #1b756d,
);

$gradients: (
  pelorousHalfBaked: linear-gradient(color(pelorous), color(halfBaked)),
  vikingIceCold: linear-gradient(to left, color(viking), color(viking) 10%, color(iceCold) 88%, color(iceCold)),
  pelorousHalfBaked2: linear-gradient(to left, color(pelorous), color(halfBaked)),
);
