@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  &:not(input) {
    user-select: none;
  }
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
  overflow: hidden;
  margin: 0;
}

:global(#root) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
